label{
    font-weight: bold;
}
.error{
    color:red;
    font-style: italic;
    font-weight:normal;
}
.hand{
    cursor: pointer;
}
.media{
    color:gray;
}
.media a{
    font-weight: bold;
}
.media h4{
    color:black;
}
.media .image{
    background:#dcdcdc;
}
.media .linkToMsg{
    color: gray;
    font-weight: normal;
}
.media small a{
    color:gray;
    font-weight: normal;
}
.media-body a{
    color:black;
}
.media-caption{
    margin-top:0.5em;
    color:black;
}
.media-image{
    border:1px solid #dcdcdc;
    max-height: 398px;
}
.table {
    width:100%;
    white-space: nowrap;
}
.table .main{
    width:100%;
}
#userCover{
    background-color:gray;
        height: 225px;
}
#userCover h2{
    color:white;
    font-weight: lighter;
    text-shadow:rgba(0, 0, 0, 0.8) 0px 0px 3px;
}
#userCover h2{
    margin-top: 150px;
}
#userCover .img-polaroid{
    float: left;
    margin: 20px;
    margin-top:72px;
}

/* Large desktop */
@media (min-width: 1200px) {
    body {
        padding-top: 50px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #userCover{
        background-color: white;
        text-align: center;
        margin: 0;
        margin-bottom: 0px;
    }
    #userCover h2{
        color:#333;
        margin: 0;
        text-shadow: none;
    }
    #userCover .img-polaroid{
        float: none;
        margin: 0;
        margin-bottom: 10px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

}
